{% extends "page.html" %}

{% block content %}
<div class="container">
	<div class="card" style="margin-top: 1em">
		<div class="card-header">
			Update department
		</div>
		<div class="card-body">
			<form action="{{ url_for('department_update', department_id=department.id) }}" method="post">
			{% for key, val in department.items() %}
			<div class="form-group row">
				<label for="{{ key }}" class="col-sm-2 col-form-label">{{ key }}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ val }}">
				</div>
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
