{% extends "page.html" %}
{% set active_page = "department" %}

{% block content %}
<div class="container">
	{% if show_department_create %}
	<a href="{{ url_for('department_create' )}}" class="btn btn-primary">Create Department</a>
	{% endif %}
	
	<table class="table table-striped" style="margin-top: 1em">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Department</th>
				<th scope="col">No. of users</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for department in departments %}  			
		<tr>
			<th scope="row">{{ department.id }}</th>
			<td>{{ department.name }}</td>
			<td><a href="{{ url_for('department_user_list', department_id = department.id )}}">{{ department.users_total }}</a></td>
			<td>
				<a href="{{ url_for('department', department_id = department.id )}}" class="btn btn-primary">View</a>
				<a href="{{ url_for('department_update', department_id = department.id )}}" class="btn btn-secondary">Edit</a>
				<a href="{{ url_for('department_delete', department_id = department.id )}}" class="btn btn-danger">Delete</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
