{% extends "page.html" %}
{% set active_page = "user" %}

{% block content %}
<div class="container">
	{% if show_user_create %}
	<a href="{{ url_for('user_create' )}}" class="btn btn-primary">Create User</a>
	{% endif %}
	
	<table class="table table-sm table-striped" style="margin-top: 1em">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Username</th>
				<th scope="col">Email</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
		<tr>
			<th scope="row">{{ user.id }}</th>
			<td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
			<td>
				<a href="{{ url_for('user', user_id = user.id )}}" class="btn btn-sm btn-outline-primary">View</a>
				<a href="{{ url_for('user_update', user_id = user.id )}}" class="btn btn-sm btn-outline-secondary">Edit</a>
				<a href="{{ url_for('user_delete', user_id = user.id )}}" class="btn btn-sm btn-outline-danger">Delete</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
